HELO:<localhost>
FROM:<info@example.com>
TO:<imasyamu@gmail.com>

Message-ID: <dac5d6a57a5fc35fcae21c08494d4d5b@localhost>
Date: Sun, 16 Jun 2024 22:35:12 +0900
Subject: =?utf-8?Q?=E3=83=A1=E3=83=BC=E3=83=AB=E3=82=A2?=
 =?utf-8?Q?=E3=83=89=E3=83=AC=E3=82=B9=E3=81=AE=E7=A2=BA=E8=AA=8D?=
From: Atte <info@example.com>
To: imasyamu@gmail.com
MIME-Version: 1.0
Content-Type: multipart/alternative;
 boundary="_=_swift_1718544912_ea1b0256d64a80d2bcf84a6388d940e0_=_"


--_=_swift_1718544912_ea1b0256d64a80d2bcf84a6388d940e0_=_
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

[Atte](http://localhost)

# =E3=81=93=E3=82=93=E3=81=AB=E3=81=A1=
=E3=81=AF=EF=BC=81

=E4=BB=A5=E4=B8=8B=E3=81=AE=E3=83=9C=E3=82=BF=
=E3=83=B3=E3=82=92=E3=82=AF=E3=83=AA=E3=83=83=E3=82=AF=E3=81=97=E3=81=A6=
=E3=83=A1=E3=83=BC=E3=83=AB=E3=82=A2=E3=83=89=E3=83=AC=E3=82=B9=E3=82=92=
=E8=AA=8D=E8=A8=BC=E3=81=97=E3=81=A6=E3=81=8F=E3=81=A0=E3=81=95=E3=81=84=
=E3=80=82

=E3=83=A1=E3=83=BC=E3=83=AB=E3=82=A2=E3=83=89=E3=83=AC=
=E3=82=B9=E3=81=AE=E7=A2=BA=E8=AA=8D: http://localhost/email/verify/57/ef9c=
c2a8710783023f0fba87dafa03d407b25d4c?expires=3D1718548512&signature=3D1d878=
7a3e6fa7c03c27231a1941426568dd98aa50db85233db79cd5c59ba948f

=E3=81=
=AA=E3=81=8A=E3=80=81=E3=81=93=E3=81=AE=E3=83=A1=E3=83=BC=E3=83=AB=E3=81=
=AE=E5=86=85=E5=AE=B9=E3=81=AB=E8=A6=9A=E3=81=88=E3=81=8C=E3=81=AA=E3=81=
=84=E5=A0=B4=E5=90=88=E3=81=AF=E3=80=81=E3=81=93=E3=81=AE=E3=81=BE=E3=81=
=BE=E7=A0=B4=E6=A3=84=E3=81=97=E3=81=A6=E3=81=8F=E3=81=A0=E3=81=95=E3=81=
=84=E3=80=82

=E3=81=A9=E3=81=86=E3=81=9E=E3=80=81=E3=82=88=E3=82=8D=
=E3=81=97=E3=81=8F=E3=81=8A=E9=A1=98=E3=81=84=E3=81=84=E3=81=9F=E3=81=97=
=E3=81=BE=E3=81=99,
Atte

=E3=82=82=E3=81=97 "=E3=83=A1=E3=83=BC=
=E3=83=AB=E3=82=A2=E3=83=89=E3=83=AC=E3=82=B9=E3=81=AE=E7=A2=BA=E8=AA=8D" =
=E3=83=9C=E3=82=BF=E3=83=B3=E3=81=8C=E3=82=AF=E3=83=AA=E3=83=83=E3=82=AF=
=E3=81=A7=E3=81=8D=E3=81=AA=E3=81=84=E5=A0=B4=E5=90=88=E3=81=AF=E3=80=81=
=E4=BB=A5=E4=B8=8B=E3=81=AB=E8=A1=A8=E7=A4=BA=E3=81=95=E3=82=8C=E3=81=A6=
=E3=81=84=E3=82=8BURL=E3=82=92=E7=9B=B4=E6=8E=A5=E3=83=96=E3=83=A9=E3=82=
=A6=E3=82=B6=E3=81=AB=E3=82=B3=E3=83=94=E3=83=BC&=E3=83=9A=E3=83=BC=
=E3=82=B9=E3=83=88=E3=81=97=E3=81=A6=E3=81=8F=E3=81=A0=E3=81=95=E3=81=84=
=E3=80=82: [http://localhost/email/verify/57/ef9cc2a8710783023f0fba87dafa03=
d407b25d4c?expires=3D1718548512&signature=3D1d8787a3e6fa7c03c27231a19414265=
68dd98aa50db85233db79cd5c59ba948f](http://localhost/email/verify/57/ef9cc2a=
8710783023f0fba87dafa03d407b25d4c?expires=3D1718548512&signature=3D1d8787a3=
e6fa7c03c27231a1941426568dd98aa50db85233db79cd5c59ba948f)

=C2=A9 2024 =
Atte. All rights reserved.


--_=_swift_1718544912_ea1b0256d64a80d2bcf84a6388d940e0_=_
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=3D"http://www.=
w3.org/1999/xhtml">
<head>
<meta name=3D"viewport" content=3D"width=3Dd=
evice-width, initial-scale=3D1.0">
<meta http-equiv=3D"Content-Type" cont=
ent=3D"text/html; charset=3DUTF-8">
<meta name=3D"color-scheme" content=
=3D"light">
<meta name=3D"supported-color-schemes" content=3D"light">
<=
style>
@media  only screen and (max-width: 600px) {
.inner-body {
wid=
th: 100% !important;
}

.footer {
width: 100% !important;
}
}=


@media  only screen and (max-width: 500px) {
.button {
width: 100=
% !important;
}
}
</style>
</head>
<body style=3D"box-sizing: bor=
der-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto=
, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Seg=
oe UI Symbol'; position: relative; -webkit-text-size-adjust: none; backgrou=
nd-color: #ffffff; color: #718096; height: 100%; line-height: 1.4; margin: =
0; padding: 0; width: 100% !important;">

<table class=3D"wrapper" widt=
h=3D"100%" cellpadding=3D"0" cellspacing=3D"0" role=3D"presentation" style=
=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont,=
 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Se=
goe UI Emoji', 'Segoe UI Symbol'; position: relative; -premailer-cellpaddin=
g: 0; -premailer-cellspacing: 0; -premailer-width: 100%; background-color: =
#edf2f7; margin: 0; padding: 0; width: 100%;"><tr>
<td align=3D"center" s=
tyle=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSystemF=
ont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',=
 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;">
<table class=
=3D"content" width=3D"100%" cellpadding=3D"0" cellspacing=3D"0" role=3D"pre=
sentation" style=3D"box-sizing: border-box; font-family: -apple-system, Bli=
nkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple C=
olor Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; -prem=
ailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%; ma=
rgin: 0; padding: 0; width: 100%;">
<tr>
<td class=3D"header" style=3D"=
box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Se=
goe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe =
UI Emoji', 'Segoe UI Symbol'; position: relative; padding: 25px 0; text-ali=
gn: center;">
<a href=3D"http://localhost" style=3D"box-sizing: border-bo=
x; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helv=
etica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI =
Symbol'; position: relative; color: #3d4852; font-size: 19px; font-weight: =
bold; text-decoration: none; display: inline-block;">
Atte
</a>
</td>=

</tr>
<!-- Email Body --><tr>
<td class=3D"body" width=3D"100%" cell=
padding=3D"0" cellspacing=3D"0" style=3D"box-sizing: border-box; font-famil=
y: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,=
 sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; posi=
tion: relative; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -prem=
ailer-width: 100%; background-color: #edf2f7; border-bottom: 1px solid #edf=
2f7; border-top: 1px solid #edf2f7; margin: 0; padding: 0; width: 100%;">=

<table class=3D"inner-body" align=3D"center" width=3D"570" cellpadding=
=3D"0" cellspacing=3D"0" role=3D"presentation" style=3D"box-sizing: border-=
box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, He=
lvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe U=
I Symbol'; position: relative; -premailer-cellpadding: 0; -premailer-cellsp=
acing: 0; -premailer-width: 570px; background-color: #ffffff; border-color:=
 #e8e5ef; border-radius: 2px; border-width: 1px; box-shadow: 0 2px 0 rgba(0=
, 0, 150, 0.025), 2px 4px 0 rgba(0, 0, 150, 0.015); margin: 0 auto; padding=
: 0; width: 570px;">
<!-- Body content --><tr>
<td class=3D"content-cel=
l" style=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSys=
temFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emo=
ji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; max-width: 10=
0vw; padding: 32px;">
<h1 style=3D"box-sizing: border-box; font-family: -=
apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, san=
s-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position=
: relative; color: #3d4852; font-size: 18px; font-weight: bold; margin-top:=
 0; text-align: left;">=E3=81=93=E3=82=93=E3=81=AB=E3=81=A1=E3=81=AF=
=EF=BC=81</h1>
<p style=3D"box-sizing: border-box; font-family: -apple-sy=
stem, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,=
 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relati=
ve; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">=
=E4=BB=A5=E4=B8=8B=E3=81=AE=E3=83=9C=E3=82=BF=E3=83=B3=E3=82=92=E3=82=AF=
=E3=83=AA=E3=83=83=E3=82=AF=E3=81=97=E3=81=A6=E3=83=A1=E3=83=BC=E3=83=AB=
=E3=82=A2=E3=83=89=E3=83=AC=E3=82=B9=E3=82=92=E8=AA=8D=E8=A8=BC=E3=81=97=
=E3=81=A6=E3=81=8F=E3=81=A0=E3=81=95=E3=81=84=E3=80=82</p>
<table class=
=3D"action" align=3D"center" width=3D"100%" cellpadding=3D"0" cellspacing=
=3D"0" role=3D"presentation" style=3D"box-sizing: border-box; font-family: =
-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sa=
ns-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; positio=
n: relative; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premail=
er-width: 100%; margin: 30px auto; padding: 0; text-align: center; width: 1=
00%;"><tr>
<td align=3D"center" style=3D"box-sizing: border-box; font-fam=
ily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Aria=
l, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; po=
sition: relative;">
<table width=3D"100%" border=3D"0" cellpadding=3D"0" =
cellspacing=3D"0" role=3D"presentation" style=3D"box-sizing: border-box; fo=
nt-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica=
, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbo=
l'; position: relative;"><tr>
<td align=3D"center" style=3D"box-sizing: b=
order-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Robo=
to, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'S=
egoe UI Symbol'; position: relative;">
<table border=3D"0" cellpadding=3D=
"0" cellspacing=3D"0" role=3D"presentation" style=3D"box-sizing: border-box=
; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helve=
tica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI S=
ymbol'; position: relative;"><tr>
<td style=3D"box-sizing: border-box; fo=
nt-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica=
, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbo=
l'; position: relative;">
<a href=3D"http://localhost/email/verify/57/ef9=
cc2a8710783023f0fba87dafa03d407b25d4c?expires=3D1718548512&amp;signature=3D=
1d8787a3e6fa7c03c27231a1941426568dd98aa50db85233db79cd5c59ba948f" class=3D"=
button button-primary" target=3D"_blank" rel=3D"noopener" style=3D"box-sizi=
ng: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',=
 Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji=
', 'Segoe UI Symbol'; position: relative; -webkit-text-size-adjust: none; b=
order-radius: 4px; color: #fff; display: inline-block; overflow: hidden; te=
xt-decoration: none; background-color: #2d3748; border-bottom: 8px solid #2=
d3748; border-left: 18px solid #2d3748; border-right: 18px solid #2d3748; b=
order-top: 8px solid #2d3748;">=E3=83=A1=E3=83=BC=E3=83=AB=E3=82=A2=
=E3=83=89=E3=83=AC=E3=82=B9=E3=81=AE=E7=A2=BA=E8=AA=8D</a>
</td>
</tr><=
/table>
</td>
</tr></table>
</td>
</tr></table>
<p style=3D"box-s=
izing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe U=
I', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Em=
oji', 'Segoe UI Symbol'; position: relative; font-size: 16px; line-height: =
1.5em; margin-top: 0; text-align: left;">=E3=81=AA=E3=81=8A=E3=80=81=
=E3=81=93=E3=81=AE=E3=83=A1=E3=83=BC=E3=83=AB=E3=81=AE=E5=86=85=E5=AE=B9=
=E3=81=AB=E8=A6=9A=E3=81=88=E3=81=8C=E3=81=AA=E3=81=84=E5=A0=B4=E5=90=88=
=E3=81=AF=E3=80=81=E3=81=93=E3=81=AE=E3=81=BE=E3=81=BE=E7=A0=B4=E6=A3=84=
=E3=81=97=E3=81=A6=E3=81=8F=E3=81=A0=E3=81=95=E3=81=84=E3=80=82</p>
<p st=
yle=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFo=
nt, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', =
'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; font-size: 16px; l=
ine-height: 1.5em; margin-top: 0; text-align: left;">=E3=81=A9=E3=81=86=
=E3=81=9E=E3=80=81=E3=82=88=E3=82=8D=E3=81=97=E3=81=8F=E3=81=8A=E9=A1=98=
=E3=81=84=E3=81=84=E3=81=9F=E3=81=97=E3=81=BE=E3=81=99,<br>
Atte</p>
=


<table class=3D"subcopy" width=3D"100%" cellpadding=3D"0" cellspacing=
=3D"0" role=3D"presentation" style=3D"box-sizing: border-box; font-family: =
-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sa=
ns-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; positio=
n: relative; border-top: 1px solid #e8e5ef; margin-top: 25px; padding-top: =
25px;"><tr>
<td style=3D"box-sizing: border-box; font-family: -apple-syst=
em, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, '=
Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative=
;">
<p style=3D"box-sizing: border-box; font-family: -apple-system, Blink=
MacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Col=
or Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; line-he=
ight: 1.5em; margin-top: 0; text-align: left; font-size: 14px;">=E3=82=
=82=E3=81=97 "=E3=83=A1=E3=83=BC=E3=83=AB=E3=82=A2=E3=83=89=E3=83=AC=
=E3=82=B9=E3=81=AE=E7=A2=BA=E8=AA=8D" =E3=83=9C=E3=82=BF=E3=83=B3=E3=81=
=8C=E3=82=AF=E3=83=AA=E3=83=83=E3=82=AF=E3=81=A7=E3=81=8D=E3=81=AA=E3=81=
=84=E5=A0=B4=E5=90=88=E3=81=AF=E3=80=81=E4=BB=A5=E4=B8=8B=E3=81=AB=E8=A1=
=A8=E7=A4=BA=E3=81=95=E3=82=8C=E3=81=A6=E3=81=84=E3=82=8BURL=E3=82=92=
=E7=9B=B4=E6=8E=A5=E3=83=96=E3=83=A9=E3=82=A6=E3=82=B6=E3=81=AB=E3=82=B3=
=E3=83=94=E3=83=BC&amp;=E3=83=9A=E3=83=BC=E3=82=B9=E3=83=88=E3=81=97=
=E3=81=A6=E3=81=8F=E3=81=A0=E3=81=95=E3=81=84=E3=80=82: <span class=3D"brea=
k-all" style=3D"box-sizing: border-box; font-family: -apple-system, BlinkMa=
cSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color=
 Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; word-brea=
k: break-all;"><a href=3D"http://localhost/email/verify/57/ef9cc2a871078302=
3f0fba87dafa03d407b25d4c?expires=3D1718548512&amp;signature=3D1d8787a3e6fa7=
c03c27231a1941426568dd98aa50db85233db79cd5c59ba948f" style=3D"box-sizing: b=
order-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Robo=
to, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'S=
egoe UI Symbol'; position: relative; color: #3869d4;">http://localhost/emai=
l/verify/57/ef9cc2a8710783023f0fba87dafa03d407b25d4c?expires=3D1718548512&a=
mp;signature=3D1d8787a3e6fa7c03c27231a1941426568dd98aa50db85233db79cd5c59ba=
948f</a></span></p>

</td>
</tr></table>
</td>
</tr>
</table>=

</td>
</tr>
<tr>
<td style=3D"box-sizing: border-box; font-family:=
 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, s=
ans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; positi=
on: relative;">
<table class=3D"footer" align=3D"center" width=3D"570" ce=
llpadding=3D"0" cellspacing=3D"0" role=3D"presentation" style=3D"box-sizing=
: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', R=
oboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',=
 'Segoe UI Symbol'; position: relative; -premailer-cellpadding: 0; -premail=
er-cellspacing: 0; -premailer-width: 570px; margin: 0 auto; padding: 0; tex=
t-align: center; width: 570px;"><tr>
<td class=3D"content-cell" align=3D"=
center" style=3D"box-sizing: border-box; font-family: -apple-system, BlinkM=
acSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Colo=
r Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; max-widt=
h: 100vw; padding: 32px;">
<p style=3D"box-sizing: border-box; font-famil=
y: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,=
 sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; posi=
tion: relative; line-height: 1.5em; margin-top: 0; color: #b0adc5; font-siz=
e: 12px; text-align: center;">=C2=A9 2024 Atte. All rights reserved.</p>
=

</td>
</tr></table>
</td>
</tr>
</table>
</td>
</tr></table>=

</body>
</html>

--_=_swift_1718544912_ea1b0256d64a80d2bcf84a6388d940e0_=_--
