HELO:<localhost>
FROM:<info@example.com>
TO:<kwdnbk@gmail.com>

Message-ID: <4c51770003b1d53099181d9855cbb18d@localhost>
Date: Sat, 15 Jun 2024 22:11:49 +0900
Subject: Verify Email Address
From: Laravel <info@example.com>
To: kwdnbk@gmail.com
MIME-Version: 1.0
Content-Type: multipart/alternative;
 boundary="_=_swift_1718457109_655a03912d6baad2cfb9b812c6bef14e_=_"


--_=_swift_1718457109_655a03912d6baad2cfb9b812c6bef14e_=_
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

[Laravel](http://localhost)

# Hello!

Please click the button belo=
w to verify your email address.

Verify Email Address: http://localhost=
/email/verify/53/80d93ff1899f23fc3fb890499868294f65240c32?expires=3D1718460=
709&signature=3Dc40add64c2e041ed8e4f849b76ed0b3fb6d0957e0dd436ce9b4ebbd2572=
e4239

If you did not create an account, no further action is required.=


Regards,
Laravel

If you're having trouble clicking the "Verify=
 Email Address" button, copy and paste the URL below
into your web browse=
r: [http://localhost/email/verify/53/80d93ff1899f23fc3fb890499868294f65240c=
32?expires=3D1718460709&signature=3Dc40add64c2e041ed8e4f849b76ed0b3fb6d0957=
e0dd436ce9b4ebbd2572e4239](http://localhost/email/verify/53/80d93ff1899f23f=
c3fb890499868294f65240c32?expires=3D1718460709&signature=3Dc40add64c2e041ed=
8e4f849b76ed0b3fb6d0957e0dd436ce9b4ebbd2572e4239)

=C2=A9 2024 Laravel.=
 All rights reserved.


--_=_swift_1718457109_655a03912d6baad2cfb9b812c6bef14e_=_
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=3D"http://www.=
w3.org/1999/xhtml">
<head>
<meta name=3D"viewport" content=3D"width=3Dd=
evice-width, initial-scale=3D1.0">
<meta http-equiv=3D"Content-Type" cont=
ent=3D"text/html; charset=3DUTF-8">
<meta name=3D"color-scheme" content=
=3D"light">
<meta name=3D"supported-color-schemes" content=3D"light">
<=
style>
@media  only screen and (max-width: 600px) {
.inner-body {
wid=
th: 100% !important;
}

.footer {
width: 100% !important;
}
}=


@media  only screen and (max-width: 500px) {
.button {
width: 100=
% !important;
}
}
</style>
</head>
<body style=3D"box-sizing: bor=
der-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto=
, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Seg=
oe UI Symbol'; position: relative; -webkit-text-size-adjust: none; backgrou=
nd-color: #ffffff; color: #718096; height: 100%; line-height: 1.4; margin: =
0; padding: 0; width: 100% !important;">

<table class=3D"wrapper" widt=
h=3D"100%" cellpadding=3D"0" cellspacing=3D"0" role=3D"presentation" style=
=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont,=
 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Se=
goe UI Emoji', 'Segoe UI Symbol'; position: relative; -premailer-cellpaddin=
g: 0; -premailer-cellspacing: 0; -premailer-width: 100%; background-color: =
#edf2f7; margin: 0; padding: 0; width: 100%;"><tr>
<td align=3D"center" s=
tyle=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSystemF=
ont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',=
 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;">
<table class=
=3D"content" width=3D"100%" cellpadding=3D"0" cellspacing=3D"0" role=3D"pre=
sentation" style=3D"box-sizing: border-box; font-family: -apple-system, Bli=
nkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple C=
olor Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; -prem=
ailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%; ma=
rgin: 0; padding: 0; width: 100%;">
<tr>
<td class=3D"header" style=3D"=
box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Se=
goe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe =
UI Emoji', 'Segoe UI Symbol'; position: relative; padding: 25px 0; text-ali=
gn: center;">
<a href=3D"http://localhost" style=3D"box-sizing: border-bo=
x; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helv=
etica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI =
Symbol'; position: relative; color: #3d4852; font-size: 19px; font-weight: =
bold; text-decoration: none; display: inline-block;">
<img src=3D"https:/=
/laravel.com/img/notification-logo.png" class=3D"logo" alt=3D"Laravel Logo"=
 style=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSyste=
mFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji=
', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; max-width: 100%=
; border: none; height: 75px; max-height: 75px; width: 75px;"></a>
</td>=

</tr>
<!-- Email Body --><tr>
<td class=3D"body" width=3D"100%" cell=
padding=3D"0" cellspacing=3D"0" style=3D"box-sizing: border-box; font-famil=
y: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,=
 sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; posi=
tion: relative; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -prem=
ailer-width: 100%; background-color: #edf2f7; border-bottom: 1px solid #edf=
2f7; border-top: 1px solid #edf2f7; margin: 0; padding: 0; width: 100%;">=

<table class=3D"inner-body" align=3D"center" width=3D"570" cellpadding=
=3D"0" cellspacing=3D"0" role=3D"presentation" style=3D"box-sizing: border-=
box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, He=
lvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe U=
I Symbol'; position: relative; -premailer-cellpadding: 0; -premailer-cellsp=
acing: 0; -premailer-width: 570px; background-color: #ffffff; border-color:=
 #e8e5ef; border-radius: 2px; border-width: 1px; box-shadow: 0 2px 0 rgba(0=
, 0, 150, 0.025), 2px 4px 0 rgba(0, 0, 150, 0.015); margin: 0 auto; padding=
: 0; width: 570px;">
<!-- Body content --><tr>
<td class=3D"content-cel=
l" style=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSys=
temFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emo=
ji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; max-width: 10=
0vw; padding: 32px;">
<h1 style=3D"box-sizing: border-box; font-family: -=
apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, san=
s-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position=
: relative; color: #3d4852; font-size: 18px; font-weight: bold; margin-top:=
 0; text-align: left;">Hello!</h1>
<p style=3D"box-sizing: border-box; fo=
nt-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica=
, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbo=
l'; position: relative; font-size: 16px; line-height: 1.5em; margin-top: 0;=
 text-align: left;">Please click the button below to verify your email addr=
ess.</p>
<table class=3D"action" align=3D"center" width=3D"100%" cellpadd=
ing=3D"0" cellspacing=3D"0" role=3D"presentation" style=3D"box-sizing: bord=
er-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,=
 Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Sego=
e UI Symbol'; position: relative; -premailer-cellpadding: 0; -premailer-cel=
lspacing: 0; -premailer-width: 100%; margin: 30px auto; padding: 0; text-al=
ign: center; width: 100%;"><tr>
<td align=3D"center" style=3D"box-sizing:=
 border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ro=
boto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', =
'Segoe UI Symbol'; position: relative;">
<table width=3D"100%" border=3D"=
0" cellpadding=3D"0" cellspacing=3D"0" role=3D"presentation" style=3D"box-s=
izing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe U=
I', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Em=
oji', 'Segoe UI Symbol'; position: relative;"><tr>
<td align=3D"center" s=
tyle=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSystemF=
ont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',=
 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;">
<table border=
=3D"0" cellpadding=3D"0" cellspacing=3D"0" role=3D"presentation" style=3D"b=
ox-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Seg=
oe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe U=
I Emoji', 'Segoe UI Symbol'; position: relative;"><tr>
<td style=3D"box-s=
izing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe U=
I', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Em=
oji', 'Segoe UI Symbol'; position: relative;">
<a href=3D"http://localhos=
t/email/verify/53/80d93ff1899f23fc3fb890499868294f65240c32?expires=3D171846=
0709&amp;signature=3Dc40add64c2e041ed8e4f849b76ed0b3fb6d0957e0dd436ce9b4ebb=
d2572e4239" class=3D"button button-primary" target=3D"_blank" rel=3D"noopen=
er" style=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSy=
stemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Em=
oji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; -webkit-text=
-size-adjust: none; border-radius: 4px; color: #fff; display: inline-block;=
 overflow: hidden; text-decoration: none; background-color: #2d3748; border=
-bottom: 8px solid #2d3748; border-left: 18px solid #2d3748; border-right: =
18px solid #2d3748; border-top: 8px solid #2d3748;">Verify Email Address</a=
>
</td>
</tr></table>
</td>
</tr></table>
</td>
</tr></table>=

<p style=3D"box-sizing: border-box; font-family: -apple-system, BlinkMac=
SystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color =
Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; font-size:=
 16px; line-height: 1.5em; margin-top: 0; text-align: left;">If you did not=
 create an account, no further action is required.</p>
<p style=3D"box-si=
zing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI=
', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emo=
ji', 'Segoe UI Symbol'; position: relative; font-size: 16px; line-height: 1=
.5em; margin-top: 0; text-align: left;">Regards,<br>
Laravel</p>


=
<table class=3D"subcopy" width=3D"100%" cellpadding=3D"0" cellspacing=3D"0"=
 role=3D"presentation" style=3D"box-sizing: border-box; font-family: -apple=
-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-ser=
if, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: rel=
ative; border-top: 1px solid #e8e5ef; margin-top: 25px; padding-top: 25px;"=
><tr>
<td style=3D"box-sizing: border-box; font-family: -apple-system, Bl=
inkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple =
Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;">
=
<p style=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSys=
temFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emo=
ji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; line-height: =
1.5em; margin-top: 0; text-align: left; font-size: 14px;">If you're having =
trouble clicking the "Verify Email Address" button, copy and paste the URL =
below
into your web browser: <span class=3D"break-all" style=3D"box-sizin=
g: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', =
Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'=
, 'Segoe UI Symbol'; position: relative; word-break: break-all;"><a href=3D=
"http://localhost/email/verify/53/80d93ff1899f23fc3fb890499868294f65240c32?=
expires=3D1718460709&amp;signature=3Dc40add64c2e041ed8e4f849b76ed0b3fb6d095=
7e0dd436ce9b4ebbd2572e4239" style=3D"box-sizing: border-box; font-family: -=
apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, san=
s-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position=
: relative; color: #3869d4;">http://localhost/email/verify/53/80d93ff1899f2=
3fc3fb890499868294f65240c32?expires=3D1718460709&amp;signature=3Dc40add64c2=
e041ed8e4f849b76ed0b3fb6d0957e0dd436ce9b4ebbd2572e4239</a></span></p>

=
</td>
</tr></table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<=
td style=3D"box-sizing: border-box; font-family: -apple-system, BlinkMacSys=
temFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emo=
ji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;">
<table cl=
ass=3D"footer" align=3D"center" width=3D"570" cellpadding=3D"0" cellspacing=
=3D"0" role=3D"presentation" style=3D"box-sizing: border-box; font-family: =
-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sa=
ns-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; positio=
n: relative; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premail=
er-width: 570px; margin: 0 auto; padding: 0; text-align: center; width: 570=
px;"><tr>
<td class=3D"content-cell" align=3D"center" style=3D"box-sizing=
: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', R=
oboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',=
 'Segoe UI Symbol'; position: relative; max-width: 100vw; padding: 32px;">=

<p style=3D"box-sizing: border-box; font-family: -apple-system, BlinkMac=
SystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color =
Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; line-heigh=
t: 1.5em; margin-top: 0; color: #b0adc5; font-size: 12px; text-align: cente=
r;">=C2=A9 2024 Laravel. All rights reserved.</p>

</td>
</tr></table=
>
</td>
</tr>
</table>
</td>
</tr></table>
</body>
</html>

--_=_swift_1718457109_655a03912d6baad2cfb9b812c6bef14e_=_--
