.attendance__content {
    margin: 0 auto;
    padding: 15px 15px;
    height: 80vh;
    max-width: 1230px;
    background-color: #f2f2f2;
}
/* s日付 */
.attendance-date__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance__today {
    display: inline-block;
    margin: 10px 10px;
    text-align: center;
}

.attendance__form{
    display: inline-block;
    width: 8%;
    height: 27px;
    text-align: center;
    align-items: center;
}
.attendance__btn-move{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    width: 36px;
    height: 26px;
    background-color: #fff;
    border: 1.5px blue solid;
    border-radius: 10%;
    cursor: pointer;
}
/* e日付 */

/* sテーブル */
.attendance__table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}

.attendance__label {
    background-color: #f2f2f2;
    color: #000;
    text-align: left;
    font-weight: bold;
}

/* sラベルとデータ共通 */
.attendance__label,
.attendance__data {
    font-weight: bold;
    width: 20%;
    padding: 14px 8px;
    border-top: 1px solid;
}

.attendance__label:first-of-type,
.attendance__data:first-of-type {
    padding-left: 30px;
    width: 22%;
}

/* eラベルとデータ共通 */
/* eテーブル */







