.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: #f2f2f2;
}
/* s日付 */
.attendance-date__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance__today {
    display: inline-block;
    font-size: 22px;
    text-align: center;
}

.attendance__form{
    display: inline-block;
    width: 10%;
    height: 27px;
    text-align: center;
    align-items: center;
}
.attendance__btn-move{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    width: 36px;
    height: 26px;
    background-color: #fff;
    border: 1.5px blue solid;
    border-radius: 10%;
    cursor: pointer;
}
/* e日付 */

/* sテーブル */
.attendance__table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

.attendance__label {
    background-color: #f2f2f2;
    color: #000;
    text-align: left;
    font-weight: bold;
}

/* sラベルとデータ共通 */
.attendance__label,
.attendance__data {
    padding: 18px 8px;
    border-bottom: 1px solid;
}

.attendance__label:first-of-type,
.attendance__data:first-of-type {
    padding-left: 48px;
}

.attendance__label:last-of-type,
.attendance__data:last-of-type {
    padding-right: 48px;
}
/* eラベルとデータ共通 */
/* eテーブル */







