.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}

.header-utilities nav {
    width: 35%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* sページネーション */
.pagination {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    display: flex;
    border: 1px solid #E0DFDE;
    background-color: #fff;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #2384cf;
    text-decoration: none;
    padding: 4px 12px;
}

.pagination span {
    padding: 4px 12px;
}

.pagination__link {
    text-decoration: none;
}

.active {
    display: flex;
    border: 1px solid #2384cf;
    background-color: #2384cf;
    color: #FFF;
}

/* eページネーション */
.footer{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}