.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}

.mail__content {
    margin: 0 auto;
    padding: 30px 15px;
    height: 80vh;
    max-width: 1230px;
    background-color: #f2f2f2;
}

.footer {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    background: #fff;
}
